@mixin motion-common($time) {
  animation-duration: $time;
  animation-fill-mode: both;
}

@mixin make-motion($className, $keyframeName, $time: $animation-time) {
  .#{$className}-enter-active,
  .#{$className}-appear {
    @include motion-common($time);
    animation-play-state: paused;
  }
  .#{$className}-leave-active {
    @include motion-common($time);
    animation-play-state: paused;
  }
  .#{$className}-enter-active,
  .#{$className}-appear {
    animation-name: #{$keyframeName}In;
    animation-play-state: running;
  }
  .#{$className}-leave-active {
    animation-name: #{$keyframeName}Out;
    animation-play-state: running;
  }
}

@import 'fade.scss';
@import 'ease.scss';
@import 'slide.scss';
@import 'move.scss';

.collapse-transition {
  transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out,
    0.3s padding-bottom ease-in-out;
}
