.container {
  height: 100vh;
  background-image: linear-gradient(
      -58deg,
      rgba(88, 124, 179, 0.05) 0%,
      rgba(239, 240, 231, 0.05) 100%
    ),
    linear-gradient(#e9f0f2, #e9f0f2);
  overflow: auto;
}
.tab-container {
  height: 100vh;
  background-image: linear-gradient(
      -58deg,
      rgba(88, 124, 179, 0.05) 0%,
      rgba(239, 240, 231, 0.05) 100%
    ),
    linear-gradient(#e9f0f2, #e9f0f2);
  overflow: hidden;
  padding-bottom: 70px;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// reset
ul,
ol,
dl {
  list-style: none;
}
input {
  height: 50px;
  border-bottom: 2px solid rgba($color: #607395, $alpha: 0.54);
}
.input-placeholder {
  font-family: Montserrat-SemiBold;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607395;
}

// font
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("./assets/fonts/Montserrat/Montserrat-SemiBold-9.otf");
}
@font-face {
  font-family: Montserrat-Medium;
  src: url("./assets/fonts/Montserrat/Montserrat-Medium-7.otf");
}
@font-face {
  font-family: Montserrat-Bold;
  src: url("./assets/fonts/Montserrat/Montserrat-Bold-3.otf");
}
@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("./assets/fonts/Montserrat/Montserrat-ExtraBold-4.otf");
}
